<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Quizz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Signature&family=Playwrite+NZ+Basic+Guides&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>

        <h1 class = "text-[32px] font-bold text-center text-white bg-orange-300 py-4">Quel personnage de Shingeki no kyojin es tu ?</h1>

    </header>

    <main class="text-center">

        <p class="text-[18px] m-12 macondo-swash-caps-regular text-center ">Réponds aux questions pour savoir quel personnage de Shingeki no kyojin tu es !
        </p>

        <div class="flex justify-center">
            <img src="/static/snk.webp">
        </div>

        <a class="bg-orange-400 px-4 py-2 rounded-lg text-white hover:bg-orange-300" href="/question"> Allons-y !</a> 
    </main>

    <footer class="bg-orange-400 absolute bottom-0 w-full py-6">
        <p class="text-center macondo-swash-caps-regular">Copyright &copy Sawsane</p>
    </footer>

</body>
</html>