<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Quizz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Signature&family=Playwrite+NZ+Basic+Guides&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>

        <h1 class = "text-[32px] font-bold text-center text-white bg-orange-300 py-4">Quel personnage de Shingeki no kyojin es tu ?</h1>

    </header>

     <main class="text-center">
        <!-- Question -->
        <p class="text-[21px] m-12  text-center "> {{enonce}}</p>
        <!-- Reponses possibles -->
        <ul class="my-10">
            <li> <a href="/reponse/0">  {{reponses[0]}} </a></li>
            <li> <a href="/reponse/1"> {{reponses[1]}} </a></li>
            <li> <a href="/reponse/2"> {{reponses[2]}} </a></li>
            <li> <a href="/reponse/3"> {{reponses[3]}} </a></li>
        </ul>
        
        <p class="italic"> Question {{session["numero_question"] + 1 }} sur 6 </p>

    </main>

    <footer class="bg-orange-400 absolute bottom-0 w-full py-6">
        <p class="text-center macondo-swash-caps-regular">Copyright &copy Sawsane</p>
    </footer>

</body>
</html>